html{
    margin: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Body */

body {
    margin: 0;
	font-family: sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 5%;
}


/* Navigation Bar */

#navbar {
    margin: 0;
    padding: 0;
}

.nav2 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	background-color: #212121;
	padding: 16px 32px;
	border-bottom: 3px solid #8c38ff;
}

.nav2-text {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;
}

/* Nav Menu */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #212121;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
  z-index: 12;
}
.mnbtn{
  position: fixed;
  z-index: 13;
  right: 20px;
  /* left: 20px; */
  top: 11px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background: #212121;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .mnbtn{
  background: #fff;
  color: #8c38ff;
}
#active:checked ~ .mnbtn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #8c38ff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}


/* Theme Video */

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}
@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header a {
	text-transform: capitalize;
	font-weight: 900;
}
header h2 {
	text-transform: uppercase;
}
header .nav {
	display: flex;
}
header .nav li {
	margin: 0 15px;
}
header .nav li:first-child {
	margin-left: 0;
}
header .nav li:last-child {
	margin-right: 0;
}
@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header .nav li {
		margin: 0 7px;
	}
}
.box {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.box h1 {
	margin-bottom: 15px;
	font-size: 75px;
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.box h3 {
	margin-bottom: 40px;
	font-size: 40px;
    font-weight: 600;
}
.box a.boxBtn {
	padding: 15px 35px;
	background: transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	border: 4px solid #fff;
	transition: all .5s;
    text-decoration: none;
}
.box a.boxBtn:hover {
	background: #fff;
	color: #000;
}
@media (max-width: 800px) {
	.box {
		min-height: 600px;
	}
	.box h1 {
		font-size: 32px;
	}
	.box h3 {
		font-size: 20px;
	}
	.box a.boxBtn {
		padding: 15px 40px;
	}
}

/* Company Info */

#company-info {
    padding: 0;
}

.info {
    padding: 7% 3%;
    background-color: #783ec3;
}

.info-text {
    color: #fff;
}

 /* Our Plans */

#plans {
    padding: 5%;
} 

/* Founder Info */

#founder-info {
    padding: 0;
}

.info {
    padding: 8% 5%;
    background-color: #783ec3;
}

.info-text {
    color: #fff;
}

/* Footer */

#footer {
	padding: 0;
}

footer {
	position: absolute;
	background: #111;
	height: auto;
	padding-top: 40px;
	width: 100%;
	color: white;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

h3 {
	font-size: 2.3rem;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 3rem;
}

p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #cacdd2;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li {
	margin: 0 10px;
}

.ss{
	text-decoration: none;
	color: #fff;
	border: 1.1px solid white;
	padding: 8px;
	border-radius: 50%;
	width: 35px;
}

.footer-menu {
	margin-bottom: 20px;
}

.footer-menu ul {
	display: flex;
}

.footer-menu ul li {
	padding-right: 10px;
	display: block;
}

.footer-menu ul li a {
	color: #cfd2d6;
	border: 1.3px solid white;
	padding: 6px 15px;
	border-radius: 50px;
	text-decoration: none;
}

.footer-menu ul li a:hover {
	color: #27bcda;
}

.footer-bottom {
	background: #000;
	margin-top: 20px;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.footer-bottom p {
	text-align: center;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom p a {
	color: #44bae8;
	font-size: 16px;
	text-decoration: none;
}

/* Responsive Footer Code */
@media (max-width:800px) {
	.footer-menu ul {
		display: inline;
	}

	.footer-menu ul li {
		margin-bottom: 20px;
	}
}

/* Animation of Elements*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.menu-item:nth-child(2) {
	transition-delay: 200ms;
}
.menu-item:nth-child(3) {
	transition-delay: 400ms;
}
.menu-item:nth-child(4) {
	transition-delay: 600ms;
}

.fa-twitter {
	transition-delay: 200ms;
}

.fa-google-plus {
	transition-delay: 300ms;
}

.fa-youtube {
	transition-delay: 400ms;
}

.fa-linkedin-square {
	transition-delay: 500ms;
}
